* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-size: 16px;
    letter-spacing: 0.5px;
    background-color: #ffffff;
}

h3 {
    font-family: 'Cormorant Infant', serif;
    font-size: 36px;
    letter-spacing: 0.5px;
}

.bg-dark {
    background-color: #0C74AC!important;
    /* background-color: #4967BD!important; */
}

.navbar-custom .navbar-brand {
    font-size: 24px;
    letter-spacing: 0.5px;
}

.navbar-custom .nav-link {
    font-size: 18px;
    letter-spacing: 0.5px;
}

/* .navbar-custom:hover .nav-link:hover {
    color: #ffffff;
} */

#bio-header {
    margin-top: 40px;
}

.lightbox-img {
    width: 79%;
    height: auto;
}

#lines {
    width: 72%;
}

/* Back-to-top-button */
#button {
	display: inline-block;
	background-color: #0C74AC;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 100%;
	position: fixed;
	bottom: 60px;
	right: 15px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  #button::after {
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #ffffff;
  }
  #button:hover {
	cursor: pointer;
	background-color: #4F575A;
  }
  #button:active {
    background-color: #B2A3C7;
  }
  #button.show {
	opacity: 1;
	visibility: visible;
  }
  
  #back-top-btn {
      color: #ffffff;
      font-size: 2em;
      margin-top: 8px;
  }

/* ============= STICKY FOOTER ============= */
#main-footer {
    flex-shrink: 0;
    background-color: #0C74AC!important;
}

#main-footer h1 {
    color: #7F66B1;
    font-size: 24px;
}

#main-footer p {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1em;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}