* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-size: 16px;
  letter-spacing: 0.5px;
  background-color: #ffffff;
}

h3 {
  font-family: 'Cormorant Infant', serif;
  font-size: 36px;
  letter-spacing: 0.5px;
}

.bg-dark {
  background-color: #212529 !important;
}

.navbar-custom .navbar-brand {
  font-size: 24px;
  /* letter-spacing: 0.5px; */
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar-custom .nav-link {
  color: #909090 !important;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.navbar-custom:hover .nav-link:hover {
  color: #ffffff !important;
}

#logo {
  width: 35px;
  margin-top: -5px;
}

/* ============ STICKY FOOTER =========== */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

#main-header {
  margin-top: 40px;
}

#main-footer {
  flex-shrink: 0;
}

/* ===== SOCIAL ICON LINKS ON FOOTER ===== */

footer a {
  float: right;
  /* margin-right: 30px; */
  /* margin-right: 10px!important; */
}

#footer-content {
  clear: both;
  margin-bottom: 0;
  /* font-size: 18px!important; */
}

#copyright {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.social-links a {
  /* text-align:center; */
  /* float: left; */
  width: 36px;
  height: 36px;
  border: 2px solid #909090;
  /* border-radius: 100%; */
  margin-right: 7px; /*space between*/
  display: flex;
  align-items: flex-start;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.social-links a i {
  font-size: 20px;
  align-self: center;
  color: #909090;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  margin: 0 auto;
  padding-left: 1.5px;
}

.social-links a i::before {
  display: inline-block;
  text-decoration: none;
}

.social-links a:hover {
  background: rgba(0, 0, 0, 0.2);
  border-color: #ffffff;
}

.social-links a:hover i {
  color: #ffffff;
  /* color:#eeeeee; */
  /* color: #FFFFE4; */
}

#footer-content a {
  margin-top: -6px;
}

/* ========= TOOLTIP FOR SOCIAL ICON LINKS ========= */
/* Source: https://bootsnipp.com/snippets/8MPr5 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 150px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: ' ';
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#main-footer h1 {
  color: #ffffff;
  font-size: 24px;
}

#main-footer p {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.1em;
}

#hidden-footer {
  display: none;
}

/* CONTACT FORM STYLES */

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}

.brand span {
  color: #fff;
}

.wrapper {
  margin-bottom: 40px;
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  border-radius: 2px;
  padding: 1em;
}

.company-info {
  background: rgba(0, 0, 0, 0.2);
}

.company-info h3,
.company-info ul {
  text-align: center;
  /* margin:0 0 1rem 0; */
}

.contact {
  background: #f9feff;
}

/* FORM STYLES */
.contact form {
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

input,
textarea {
  background: #fafafa;
}

.contact form button,
.contact form input,
.contact form textarea,
#submit-btn {
  border-radius: 2px;
  width: 100%;
  padding: 0.5em;
  /* border: 1px solid #cccccc; */
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact form button,
#submit-btn {
  background: #212529;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* .contact form button:hover,.contact form button:focus, #submit-btn {
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
} */

/* .alert {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: #ffffff;
    margin-bottom: 10px;
    display: none;
} */

/* LARGE SCREENS */
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
  [data-tooltip]:before {
    width: 120px;
  }

  .video-info {
    margin-top: -20px;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  .navbar-custom .nav-link {
    font-size: 16px;
  }

  .video-info {
    margin-top: -20px;
  }

  [data-tooltip]:before {
    width: 130px;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .navbar-custom .navbar-brand {
    font-size: 17px;
  }

  .navbar-custom .nav-link {
    font-size: 12px;
  }

  [data-tooltip]:before {
    width: 150px;
  }

  .video-info {
    margin-top: 20px;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
  .navbar-custom .navbar-brand {
    font-size: 16px;
  }

  .navbar-custom .nav-link {
    font-size: 10px;
  }

  .social-links {
    display: flex;
    justify-content: center;
  }

  #main-footer .social-links a {
    display: none;
  }

  #hidden-footer {
    display: unset;
  }

  .video-info {
    margin-top: 20px;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .navbar-custom .navbar-brand {
    font-size: 18px;
  }

  .navbar-custom .nav-link {
    font-size: 14px;
  }

  .social-links {
    display: flex;
    justify-content: center;
  }

  #main-footer .social-links a {
    display: none;
  }

  #hidden-footer {
    display: unset;
  }

  .video-info {
    margin-top: 20px;
  }

  .card {
    width: 100%;
  }
}
