* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #eeeeee;
  color: #222222;
}

/* HERO SECTION: */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../promo/prisoners_into_the_black.webp');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  padding: 0 4em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eeeeee;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-hero-text {
  font-size: 50px;
  font-weight: 600;
}

.container {
  padding: 4em;
  font-family: 'Rubik', sans-serif;
}

.release-text {
  font-size: 24px;
  font-weight: 600;
}

.img-fluid {
  width: 85%;
  height: auto;
}

.social-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

.social-links a {
  color: #222222;
}

.social-links a:hover {
  color: #6f6f6f;
  transition-duration: 0.5s;
}

.links-section {
  max-height: 60vh;
  overflow-y: visible;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

svg {
  color: #222222;
}

.link-btn:hover svg path {
  fill: #eeeeee;
  transition-duration: 0.5s;
}

.link-btn,
.links-section a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border: 1px solid #222222;
  border-radius: 5px;
  padding: 10px 16px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}

.link-btn:hover {
  background-color: #222222;
  color: #eeeeee;
  transition-duration: 0.5s;
}

.links a {
  color: #222222;
}

.links a:hover {
  text-decoration: none;
}

.platform {
  display: flex;
}

.brand-item {
  align-items: center;
}

.fa {
  color: #eeeeee;
}

.custom .fa-circle:before {
  border-radius: 50%;
  background: #222222;
}

#release-date {
  text-align: center;
}

.footer-text-div {
  margin: 15px 0;
}

.footer-text {
  text-align: center;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 767px) {
  .img-fluid {
    width: 100%;
    height: auto;
  }

  .left {
    margin-bottom: 40px;
  }

  .links-section {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 100%;
  }

  .link-btn,
  .links-section a {
    width: 100%;
  }
}
