* {
    box-sizing: border-box;
}


body {
    font-family: 'Lato';
    font-size: 16px;
    letter-spacing: 0.5px;
    background-color: #ffffff;
}

h3 {
    font-family: 'Cormorant Infant', serif;
    font-size: 36px;
    letter-spacing: 0.5px;
}

.bg-dark {
    background-color: #212529 !important;
}

.navbar-custom .navbar-brand {
    font-size: 24px;
}

.navbar-custom .nav-link {
    font-size: 18px;
}

/* iFrame Video Styles */

figure {
    /* width: 640px; */
    width: 580px;
    padding: 20px 20px 8px;
    margin: 40px auto 48px;
}

figure {
    background-color: #212529;
    /* padding-bottom: 0;
    padding-top: 0;
    margin-top: 16px;
    margin-bottom: 24px; */
    overflow: hidden;
}

figcaption {
    font-family: 'Lato';
    letter-spacing: 0.5px;
    /* font-size: 1.4em; */
    font-size: 20px;
    clear: both;
    /* font-style: italic; */
    color: #ccc;
    text-align: right;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
}

figcaption,
figure {
    display: block;
    /* margin: 0;
padding: 0; */
    border-width: 0;
}

figure {
    /* display: block; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    /* margin-inline-start: 40px;
    margin-inline-end: 40px; */
}

.video-info {
    margin-left: 150px;
    padding-right: 0;
}




.img-fluid {
    width: 66%;
    height: auto;
}

#main-footer h1 {
    color: #ffffff;
    font-size: 24px;
}

#main-footer p {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.col-md-4 {
    padding: 25px;
}

.card {
    width: 75%;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

.card:hover {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

/* ===== MEDIA QUERIES ===== */
@media screen and (min-width: 981px) and (max-width: 1200px) {
    .card {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    .card {
        width: 100%;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .card {
        width: 100%;
    }
}