* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-size: 16px;
    letter-spacing: 0.5px;
    background-color: #ffffff;
}

h3 {
    font-family: 'Cormorant Infant', serif;
    font-size: 36px;
    letter-spacing: 0.5px;
}

.bg-dark {
    background-color: #212529!important;
    /* background-color: #4967BD!important; */
}

.navbar-custom .navbar-brand {
    font-size: 24px;
    letter-spacing: 0.5px;
}

.navbar-custom .nav-link {
    color: #909090!important;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.navbar-custom:hover .nav-link:hover {
    color: #ffffff!important;
}

/* ============= STICKY FOOTER ============= */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

#main-header {
    margin-top: 40px;
}

#main-footer {
    flex-shrink: 0;
}

/* ====================================== */

footer a{
    float: right;
    /* margin-right: 30px; */
    /* margin-right: 10px!important; */
}

#footer-content {
    clear: both;
    margin-bottom: 0;
    /* font-size: 18px!important; */
}

.social-links a {
    /* text-align:center; */
      /* float: left; */
      width: 36px;
      height: 36px;
      border: 2px solid #909090;
      /* border-radius: 100%; */
      margin-right: 7px; /*space between*/
      display: flex;
      align-items: flex-start;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
  }

  .social-links a i {
      font-size: 20px;
      align-self:center;
      color: #909090;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      margin: 0 auto;
      padding-left: 1.5px;
  }

  .social-links a i::before {
    display:inline-block;
    text-decoration:none;
  }

  .social-links a:hover {
    background: rgba(0,0,0,0.2);
    border-color: #ffffff
  }

  .social-links a:hover i {
    color:#ffffff;
  }

  #footer-content a {
      margin-top: -6px;;
  }

#ans {
    width: 72%;
}

/* iFrame Video Styles */

figure {
    /* width: 640px; */
    width: 580px;
    padding: 20px 20px 8px;
    margin: 40px auto 48px;
}

figure {
    background-color: #212529;
    /* padding-bottom: 0;
    padding-top: 0;
    margin-top: 16px;
    margin-bottom: 24px; */
    overflow: hidden;
}

figcaption {
    font-family: 'Lato';
    letter-spacing: 0.5px;
    /* font-size: 1.4em; */
    font-size: 20px;
    clear: both;
    /* font-style: italic; */
    color: #cccccc;
    text-align: right;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
}

figcaption,
figure {
    display: block;
    /* margin: 0;
    padding: 0; */
    border-width: 0;
}

figure {
    /* display: block; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    /* margin-inline-start: 40px;
    margin-inline-end: 40px; */
}

.video-info {
    margin-left: 150px;
    padding-right: 0;
}

.img-fluid {
    width: 66%;
    height: auto;
}

#main-footer h1 {
    color: #ffffff;
    font-size: 24px;
}

#main-footer p {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1em;
}

/* .col-md-4 {
    padding: 25px;
} */

.card {
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-bottom: 40px;
    /* margin-top: 20px; */
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

.left-card {
    float: left;
    clear: both;
}

.right-card {
    float: right;
    clear: both;
}

.card-title {
	/* font-size: 20px!important; */
    /* font-weight: 700!important; */
    letter-spacing: 0.5px;
}

.card:hover {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

/* Back-to-top-button */
#button {
	display: inline-block;
	background-color: #212529;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 100%;
	position: fixed;
	bottom: 60px;
	right: 15px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  #button::after {
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #ffffff;
  }
  #button:hover {
	cursor: pointer;
	background-color: #4F575A;
  }
  #button:active {
    background-color: #cccccc;
  }
  #button.show {
	opacity: 1;
	visibility: visible;
  }
  
  #back-top-btn {
      color: #ffffff;
      font-size: 2em;
      margin-top: 8px;
  }


/* ===== MEDIA QUERIES ===== */
@media screen and (min-width: 981px) and (max-width: 1200px) {
    .card {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    .card {
        width: 100%;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .card {
        width: 100%;
    }
}