* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-size: 16px;
    letter-spacing: 0.5px;
    background-color: #ffffff;
}

h3 {
    font-family: 'Cormorant Infant', serif;
    font-size: 36px;
    letter-spacing: 0.5px;
}

.bg-dark {
    background-color: #7F66B1 !important;
    /* background-color: #4967BD!important; */
}

.navbar-custom .navbar-brand {
    font-size: 24px;
    letter-spacing: 0.5px;
}

.navbar-custom .nav-link {
    font-size: 18px;
    letter-spacing: 0.5px;
}

/* .navbar-custom:hover .nav-link:hover {
    color: #ffffff;
} */

#bio-header {
    margin-top: 40px;
}

.lightbox-img {
    width: 79%;
    height: auto;
}

/* ============= STICKY FOOTER ============= */
#main-footer {
    flex-shrink: 0;
    background-color: #7F66B1 !important;
}

#main-footer h1 {
    color: #7F66B1;
    font-size: 24px;
}

#main-footer p {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1em;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}


/* ========================================= */



/* header,
footer {
    padding: 1em;
    color: white;
    background-color: #654321;
    clear: left;
    text-align: center;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

#main-footer {
    flex-shrink: 0;
} */
